<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Beyondev | expenses </title>
</head>
<body><br>
    <h3> Here the expenses of the month: </h3><br/>
    <table bgcolor="lightgrey" width="900" align="center" border="0.2">
        <tr bgcolor="lightgreen" align="center" height="100" >
<th>EXPENSES</th>
<th>DATE</th>
<th>AMOUNT</th>
<th>DESCRIPTION</th>
<th>USER</th>
</tr>
{% for i in data %}
<tr>
    <td><br>&nbsp{{i.expense}}</td>
    <td><br>&nbsp{{i.date}}</td>
    <td><br>&nbsp{{i.amount}}</td>
    <td><br>&nbsp{{i.description}}</td>
    <td><br>&nbsp{{i.Sign_In.first_name}} {{i.Sign_In.last_name}}</td>
</tr>
{% endfor %}
</table>
    
</body>
</html>